* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(https://cdn.imgchest.com/files/pyq9ceoo342.png);
  background-repeat: no-repeat; */
  max-width: 1200px;
  min-height: 1583px;
  font-size: 2rem;
  color: blue;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-rows:
    minmax(50px, 113.8px)
    minmax(20px, 35px)
    minmax(50px, 135px)
    minmax(50px, 105px)
    minmax(100px, 445px)
    minmax(100px, 459.5px)
    minmax(100px, 288.5px);
  grid-template-columns:
    minmax(50px, 572px)
    minmax(50px, 304px)
    minmax(50px, 267px);
  grid-template-areas:
    "one   one   one"
    "two   two   two"
    "three three three"
    "four  four  four"
    "five  five  eight"
    "six   nine  nine"
    "seven seven seven";
}

.container > * {
  border: 2px dashed blue;
}


.box1 {
  grid-area: one;
}

.box2 {
  grid-area: two;
}

.box3 {
  grid-area: three;
}

.box4 {
  grid-area: four;
}

.box5 {
  grid-area: five;
}

.box6 {
  grid-area: six;
}

.box7 {
  grid-area: seven;
}

.box8 {
  grid-area: eight;
}

.box9 {
  grid-area: nine;
}

.main-menu {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #0A4A72;
  height: 100%;
}

.main-menu li {
  padding: 0 10px;
  white-space: nowrap;
}

.main-menu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  line-height: 35px;
}

.main-menu a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  body {
    max-width: 100%;
    min-height: auto;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine";
  }

  .container > * {
    border-width: 1px;
  }

  .main-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-menu li {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}