* {
 margin: 0;
 box-sizing: border-box;
}
body {
 font-family: tahoma;
}
.container {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
}
.container > * {
 flex-basis: 200px;
 flex-grow: 1;
 border: 2px solid firebrick;
}
.image {
 height: 200px;
 background-size: cover;
 background-position: center;
}
.box1 .image {
 background-image: url("https://unsplash.it/300/200?1");
}
.box2 .image {
 background-image: url("https://unsplash.it/300/200?2");
}
.box3 .image {
 background-image: url("https://unsplash.it/300/200?3");
}
.box4 .image {
 background-image: url("https://unsplash.it/500/200?4");
}
.box5 .image {
 background-image: url("https://unsplash.it/800/200?5");
}
.info {
 display: flex;
 flex-direction: column;
 height: 300px;
 padding: 1rem;
}

.box1 > .info { justify-content: space-between; }
.box2 > .info { justify-content: space-around; }
.box3 > .info { justify-content: space-evenly; }
.box4 > .info { justify-content: flex-end; align-items: center; }
.box5 > .info { justify-content: center; align-items: flex-end; }

ul {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 gap: .5rem;
}
ul > li { background: pink; }

.box2 ul { justify-content: space-evenly; }
.box5 ul { justify-content: center; }
.box1 ul { justify-content: flex-end; }
.box3 ul { justify-content: space-between; }
.box4 ul { justify-content: space-around; }
.box4 ul > * { flex-grow: 1; }

button {
 background: firebrick;
 padding: .5rem;
 border: none;
 width: 100%;
 color: white;
}
