* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/pyq9ceoo342.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container{
    display: grid;
    grid-template-rows: 113.8px 35px 135px 105px 445px 459.5px 288.5px;
    grid-template-columns:572px 304px 267px;
    grid-template-areas: 
        "one   one   one"
        "two   two   two"
        "three three three"
        "four  four  four"
        "five  five  eight"
        "six   nine  nine"
        "seven seven seven";
}
.container > * {
    border: 2px dashed blue;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
.box9 {
    grid-area: nine;
}   